<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="textEditorSingleton" class = "com.metacube.training.TextEditor" scope="singleton" autowire="byName">
	<property name="word" value="metacube"></property>
</bean>

<bean id="textEditorPrototype" class = "com.metacube.training.TextEditor" scope="prototype" autowire="byName">
	<property name="word" value="metacubian"></property>
</bean>

<bean id = "spellChecker" class = "com.metacube.training.SpellChecker">

</bean>

</beans>