<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="textEditor" class="com.metacube.training.TextEditor">
		<property name="spellCheckerList">
			<list>
				<ref bean="spellChecking1"></ref>
				<ref bean="spellChecking2"></ref>
				<ref bean="spellChecking3"></ref>
			</list>
		</property>
		<property name="spellCheckerSet">
			<set>
				<ref bean="spellChecking1"></ref>
				<ref bean="spellChecking2"></ref>
				<ref bean="spellChecking3"></ref>
			</set>
		</property>
		<property name="spellCheckerMap">
			<map>
				<entry key="1" value-ref="spellChecking1" ></entry>
				<entry key="2" value-ref="spellChecking2" ></entry>
				<entry key="3" value-ref="spellChecking3" ></entry>
			</map>	
		</property>
	</bean>
	<bean id="spellChecking1" class="com.metacube.training.SpellChecker">
		
	</bean>
	<bean id="spellChecking2" class="com.metacube.training.SpellChecker">
		
	</bean>
	<bean id="spellChecking3" class="com.metacube.training.SpellChecker">
		
	</bean>
	
</beans>
